<a href="https://colab.research.google.com/github/Areefahnk/18K41A0505-Python-Assignments-SRU-PE-AI-course-/blob/master/PE_Python_Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.	**Develop a code for below scenario!**[alt text](https://drive.google.com/file/d/1xnnWbSiS-dVgYvc0QfGgdTro2eXGEoy7/view?usp=sharing)
**bold text**

In [30]:
year = int(input("Enter a year "))
y=year%12
d={0:"monkey",1:"rooster",2:"dog",3:"pig",4:"rat",5:"ox",6:"tiger",7:"rabbit",8:"dragon",9:"snake",10:"horse",11:"sheep"}
print(d[y])

Enter a year 2010
tiger

2.	A Quick Fox Transport Co. wants to develop an application for calculating amount based on distance and weight of goods. The charges (Amount) to be calculated as per rates given below. 

Input:  Distance to be travel: 520     
Weight of the goods: 50 

Output: Amount to be charged: 3120 /-

In [12]:
dist=int(input("Distance to be travel :"))
wt=int(input("Weight of the goods :"))
if dist>=500:
  if wt>=100:
    amount=dist*5
  elif wt>=10 and wt<100:
    amount=dist*6
  elif wt<10:
    amount=dist*7
elif dist < 500:
  if wt>=100:
    amount=dist*8
  elif wt<100:
    amount=dist*5
print("Amount to be charged:",amount,"/-")

Distance to be travel :520
Weight of the goods :50
Amount to be charged: 3120 /-

3.	**The Entertainment Paradise**

 A theater in Delhi wants to develop a computerized Booking System. The theater offers different types of seats. The Ticket rates are- Stalls- Rs. 625/-, Circle- Rs.750/-, Upper Class- Rs.850/- and Box- Rs.1000/-. A discount is given 10% of total amount if tickets are purchased on Cash. In case of credit card holders 5% discount is given. 

Input: 	Type of Seat: Circle    

Payment mode: cash

Output: Cost of ticket: 675

In [48]:
stalls=625
circle=750
uc=850
box=1000
type1=input("Type of Seat ")
mode=input("Payment mode ")
if type1.casefold()=="Circle".casefold():
  if mode.casefold()=="cash".casefold():
    a=circle - (circle*10/100)
  elif mode.casefold()=="card":
    a=circle-(circle*5/100)
elif type1.casefold()=="Stalls".casefold():
  if mode.casefold()=="cash".casefold():
    a=stalls- (stalls*10/100)
  elif mode.casefold()=="card".casefold():
    a=stalls-(stalls*5/100)
elif type1.casefold()=="Upper Class".casefold():
  if mode.casefold()=="cash".casefold():
    a=uc-(uc*10/100)
  elif mode.casefold()=="card".casefold():
    a=uc-(uc*5/100)
elif type1.casefold()=="Box".casefold():
  if mode.casefold()=="cash".casefold():
    a=box-(box*10/100)
  elif mode.casefold()=="card".casefold():
    a=box-(box*5/100)
print("Cost of ticket:",int(a))

Type of Seat Circle
Payment mode cash
Cost of ticket: 675

4.	Develop a program that calculates the energy needed to heat water from an initial temperature to a final temperature. Your program should prompt the user to enter the amount of water in kilograms and the initial and final temperatures of the water. The formula to compute the energy is 

Q = M * (finalTemperature – initialTemperature) * 4184.

where M is the weight of water in kilograms, temperatures are in degrees Celsius,  and energy Q is measured in joules. (L6)

In [28]:
M=int(input("Enter amount of water in kilograms "))
intemp=float(input("Enter Initial temperature "))
fitemp=float(input("Enter Final temperature "))
Q = M*(fitemp-intemp)*4184
print(Q)

Enter amount of water in kilograms 6
Enter Initial temperature 45.7
Enter FInal temperature 120.9
1887820.8000000003

5.	Develop a program that prompts user to enter month and  print 

a.	“Winter ” -   December ,January and February

b.	“Spring”  -   March ,April and May

c.	“Summer”  --- June ,July, August

d.	“Autumn ”  -- September ,October, November

In [27]:
month=input("Enter month: ")
if month.casefold()=="December".casefold() or month.casefold()=="January".casefold() or month.casefold()=="February".casefold():
  print("Winter")
elif month.casefold()=="March".casefold() or month.casefold()=="April".casefold() or month.casefold()=="May".casefold():
  print("Spring")
elif month.casefold()=="June".casefold() or month.casefold()=="July".casefold() or month.casefold()=="August".casefold():
  print("Summer")
elif month.casefold()=="September".casefold() or month.casefold()=="October".casefold() or month.casefold()=="November".casefold():
  print("Autumn")

Enter month: october
Autumn

Previous program with help of list

In [31]:
month=input("Enter month ")
winterlist=["December","January","February"]
springlist=["March","April","May"]
summerlist=["June","July","August"]
autumnlist=["September","October","November"]
if month in winterlist:
  print("Winter")
elif month in springlist: 
  print("Spring")
elif month in summerlist:
  print("Summer")
else:
  print("Autumn")

Enter month October
Autumn


6.	Body Mass Index

In [35]:
wt=int(input("Enter Weight in pounds:"))
ht=float(input("Enter Height in inches:"))
wt1=wt*0.45359237
ht1=ht*0.0254
bmi=wt1/(ht1**2)
if (bmi < 18.5): 
    print("Underweight") 
elif ( bmi>= 18.5 and bmi < 24.9): 
    print("Normal") 
elif ( bmi>= 24.9 and bmi < 30): 
    print("Overweight") 
elif ( bmi>=30): 
    print("Obese")

Enter Weight in pounds:1
Enter Height in inches:5.2
Overweight

7.	Write a program that reads an integer between 100 and 1000 and adds all the digits in the integer 	(	ex: input 745 	# output =16	(7+4+5)

In [43]:
num=int(input("Enter any number between 100 and 1000 :"))
if num<=100 or num>=1000:
  print("Please enter number between 100 and 1000 only")
  num=int(input("Enter number :"))
rem=0
sum=0
if(num>=100 and num<=1000):
  while num>0:
    rem=num%10
    sum=sum+rem
    num=num//10
print(int(sum))

Enter any number between 100 and 1000 :745
16

8.	Print all palindrome numbers between 1 to 1000.

In [49]:
for num in range(1,1001):
    temp = num
    rev = 0
    while(temp > 0):
        rem = temp % 10
        rev = (rev * 10) + rem
        temp = temp //10
    if(num == rev):
        print(num, end = '  ')

1  2  3  4  5  6  7  8  9  11  22  33  44  55  66  77  88  99  101  111  121  131  141  151  161  171  181  191  202  212  222  232  242  252  262  272  282  292  303  313  323  333  343  353  363  373  383  393  404  414  424  434  444  454  464  474  484  494  505  515  525  535  545  555  565  575  585  595  606  616  626  636  646  656  666  676  686  696  707  717  727  737  747  757  767  777  787  797  808  818  828  838  848  858  868  878  888  898  909  919  929  939  949  959  969  979  989  999

9.	Print all Armstrong numbers between 1 to 1000.

In [51]:
for num in range(1,1001):
   sum=0
   temp=num
   while temp > 0:
       rem= temp % 10
       sum += rem**3
       temp//=10   ##floor division
   if num == sum:
       print(num)

1
153
370
371
407

10.	Write a Java program which iterates the integers from 1 to 100. For multiples of three print "Fizz" instead of the number and print "Buzz" for the multiples of five. When number is divided by both three and five, print "fizz buzz".

In [52]:
for i in range(1,101):
  if i%3==0 and i%5==0:
    print("First buzz")
  elif i%5==0:
    print("Buzz")
  elif i%3==0:
    print("Fizz")
  else:
    print(i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
First buzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
First buzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
First buzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
First buzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
First buzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
First buzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

11.	Spider Problem: A spider present at the bottom of the well of height H, needs to get out of it, using the slippery wall of the well. It decides to climb up the well; it goes up U meters and slips down D meters in one single step. So, in each step it covers (U-D) meters, and if the spider gets out of the well by covering U meters in the last step it doesn’t a slip back. For example, if the spider climbs up 5 meters and slips down by 3 meters in a single step, it covers (U - D) m in each step and 96 m in 48 steps, but in the 49th step it climbs up 5 m and reaches out of the well and it will not slip down and the step is counted as one step.     

Input: Each test case will contain 3 integers ’H’ height of the well, next ’U’ meters climbs up in each step, and the last ’D’ meters slips down in each step.

Output:  The number of steps 'N' required to get out of the well.

Example 1:

 	Input:						Ouput 

	200 50 1					    5

	Example 2:

 	Input:						Output

	500 20 15					   98

In [56]:
H,U,D=input().split()
count=0
while (int(U)-int(D))*count<=int(H)-int(U):
  count=count+1 
print(count+1)

200 50 1
5