<a href="https://colab.research.google.com/github/Areefahnk/18K41A0505-Python-Assignments-SRU-PE-AI-course-/blob/master/PE_Python_Assignment_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#1 Given the lengths of three sides of a triangle, calculate the area of the triangle.

In [11]:
s1=float(input("Enter side1 length: "))
s2=float(input("Enter side2 length: "))
s3=float(input("Enter side3 length: "))
if (s1+s2)>s3:
  s=(s1+s2+s3)/2
  area=(s*(s-s1)*(s-s2)*(s-s3))**(1/2)
  print("The triangle are is= ",round(area,2))
else:
  print("The triangle is not possible")

Enter side1 length: 12
Enter side2 length: 23
Enter side3 length: 20
The triangle are is=  119.94

#2Given the lengths of three sides of a triangle, calculate the area of the triangle.

In [10]:
s=input("Enter a string:")
if(s==s[::-1]):
    print("String {} is palindrome".format(s))
else:
    print("String {} is not palindrome".format(s))

Enter a string:RotoR
String RotoR is palindrome

#3 Write a program that reads a year from the user and displays a message indicating whether year is leap year or not.

In [9]:
year=int(input("Enter year:"))
if(year%4==0 and year%100!=0 or year%400==0):
  print("{} is a leap year".format(year))
else:
  print("{} is not a leap year".format(year))

Enter year:2012
2012 is a leap year

#4 Space to Hyphen problem
#   Take a string as input, and replaces spaces " " with hyphens "-", and returns a string.
#   Input: "This program converts spaces into hyphen"
#   Output: "This-program-converts-spaces-into-hyphen"

In [8]:
string=input("Enter string: ")
print(string.replace(' ','-'))

Enter string: Areefa Khan
Areefa-Khan

#5. Unique Sort Problem.
#   Take a string as input that accepts a comma separated sequence of words as input and prints the unique words in sorted form (alphanumerically).
#   Input: orange,white,red,cyan,green,magenta,cyan,pink,white
#   Output: cyan,green,magenta,orange,pink,red,white

In [1]:
string=input("Enter string: ")
words=[word for word in string.split(",")]
print(",".join(sorted(list(set(words)))))

Enter string: orange,white,red,cyan,green,magenta,cyan,pink,white
cyan,green,magenta,orange,pink,red,white

#6Tax Calculator
#   Ask the user for their monthly salary. Calculate whether they have to pay tax and if so,
#   how much is that amount .Print the result.

In [2]:
sal=int(input("Enter the monthly salary : "))
if (sal>=0) and (sal<=250000):
    taxpay=(sal*0)
elif (sal>250000) and (sal<=500000):
    taxpay=(sal*0.05)
elif (sal>500000) and (sal<=750000):
    taxpay=(sal*0.1)
elif (sal>750000) and (sal<=1000000):
    taxpay=(sal*0.15)
elif (sal>1000000) and (sal<=1250000):
    taxpay=(sal*0.2)
elif (sal>1250000) and (sal<=1500000):
    taxpay=(sal*0.25)
else:
    taxpay=(salary*0.3)
print("Tax that to be paid is : ",taxpay)

Enter the monthly salary : 320000
Tax that to be paid is :  16000.0

#7. Take a list of integers as an argument, and converts it into a single integer (return the integer).
#   [11,33,50]
#   output:113350

In [3]:
List = [11, 33, 50]
print("Original List: ",List)
x = int("".join(map(str, List)))
print("Single Turned Integer: ",x)

Original List:  [11, 33, 50]
Single Turned Integer:  113350

In [5]:
list=[11,33,50]
for i in list:
  print(i,end="")

113350

#8. Units of Time
#   Create a program that reads duration from the user as a number of days, hours, minutes, and seconds. 
#   Compute and display the total number of seconds represented by this duration.

In [6]:
days,hours,minutes,seconds=(input("Enter the number of days:hours:minutes:seconds in this format").split(":"))
secspermin=60
secsperhour=3600
secsperday=86400
totalsecs=int(days)*secsperday
totalsecs=totalsecs+(int(hours)*secsperhour)
totalsecs=totalsecs+(int(minutes)*secspermin)
totalsecs=totalsecs+int(seconds)
print("Total number of seconds represented by this duration = ","%d"%(totalsecs))

Enter the number of days:hours:minutes:seconds in this format2:12:50:120
Total number of seconds represented by this duration =  219120

#9. Sort 3 integers
#   Given three integers (given through user input), sort the numbers using |min| and |max| functions.

In [7]:
a=int(input("Enter the number of a:"))
b=int(input("Enter the number of b:"))
c=int(input("Enter the number of c:"))
d=min(a,b,c)
e=max(a,b,c)
f=(a+b+c)-d-e
print("The Sorted order is:",d,f,e)

Enter the number of a:23
Enter the number of b:234
Enter the number of c:56
The Sorted order is: 23 56 234

#10.  Write a program that reads a date from the user and computes its immediate successor.The date is the format YYYY-MM-DD. So, 2020-04-15
#     will have the successor 2020-04-16.

In [12]:
year=int(input("Enter a year : "))
if year%400== 0:
    leapyear=True
elif year%100==0:
    leapyear=False
elif year%4==0:
    leapyear=True
else:
    leapyear=False
month=int(input("Enter a month between 1 to 12 : "))
if month in (1, 3, 5, 7, 8, 10, 12):
    monthlength=31
elif month==2:
    if leapyear:
        monthlength=29
    else:
        monthlength=28
else:
    monthlength=30
day=int(input("Enter a day between 1 to 31 : "))
if day<monthlength:
    day+=1
else:
    day=1
    if month==12:
        month=1
        year+=1
    else:
        month+=1
print("The immediate successor is YYYY-MM-DD : %d-%d-%d." %(year,month,day))

Enter a year : 2020
Enter a month between 1 to 12 : 3
Enter a day between 1 to 31 : 12
The immediate successor is YYYY-MM-DD : 2020-3-13.

#11. Compute product of a list of numbers [45,3,2,89,72,1,10,7]
#    Output: 121111200

In [13]:
list=[45,3,2,89,72,1,10,7]
j=1
for i in range(len(list)):
    j=j*list[i]
print(j)

121111200

#12.  Compute given Num_list=[5,6,8,34,89,1] to get desired output.
#     Output : Out_list=[11,14,42,123,90]

In [14]:
list=[5,6,8,34,89,1]
Out_list=[]
for i in range(len(list)-1):
    ol=list[i]+list[i+1]
    Out_list.append(ol)
print("Out_list=",Out_list)

Out_list= [11, 14, 42, 123, 90]

#13.  Compute given Num_tuple=(5,6,8,3,9,1) to get desired output.
#     Output : Out_list=[5,30,240,720,6480,6480]

In [25]:
n=(5,6,8,3,9,1)
Out_list=[]
Out_list.append(n[0])
for i in range(len(n)-1):
    m=Out_list[i]*n[i+1]
    Out_list.append(m)
print("Out_list=",Out_list)

Out_list= [5, 30, 240, 720, 6480, 6480]

#14.  Write a Python code that takes a number and returns a list of its digits. So for 586392 it should return [5,8,6,3,9,2].

In [19]:
num=input("Enter a number: ")
list=[]
for n in range(len(num)):
    list.append(int(num[n]))
print(list)

Enter a number: 586392
[5, 8, 6, 3, 9, 2]

#15. Write a program that finds the longest palindromic substring of a given string.

In [20]:
def longestpalindrome(n):
    d=[[False for i in range(len(n))] for i in range(len(n))]
    for i in range(len(n)):
        d[i][i]=True
    maxlen=1
    start=0
    for j in range(2,len(n)+1):
        for i in range(len(n)-j+1):
            end=i+j
            if j==2:
                if n[i]==n[end-1]:
                    d[i][end-1]=True
                    maxlen=j
                    start=i
            else:
                if n[i]==n[end-1] and d[i+1][end-2]:
                    d[i][end-1]=True
                    maxlen=j
                    start=i
    return n[start:start+maxlen]
n=input("Enter a string : ")
print(longestpalindrome(n))

Enter a string : RotoRpot
RotoR

#16.  Substring Check (Bug Funny)
#     Given two binary strings, A (of length 10) and B (of length 5), output 1 if B is a substring of A and 0 otherwise.
#     First two lines of input:
#     1010110010          10110
#     1110111011           10011
#     First two lines of output:
#     1
#     0

In [24]:
n=int(input("Enter Number of testcases"))
for i in range(n):
  s1,s2=input("Enter s1 string and s2 string : ").split()
  if s2 in s1:
    print("1")
  else:
    print("0")

Enter Number of testcases2
Enter s1 string and s2 string : 1000111 101
0
Enter s1 string and s2 string : 111011 11
1

#17 Pouring water problem:

In [27]:
def res(a,b,c):
    i=0
    vessel1=0
    vessel2=0
    while vessel1!=c and vessel2!=c:
        if vessel2==0: 
            vessel2=b 
            i+=1
        if vessel1 == a: 
            vessel1 = 0
            i+=1
        if vessel2<a-vessel1:
            temp=vessel2
        else:
            temp=a-vessel1
        vessel1+=temp
        vessel2-=temp
        i+=1
    return i
        
n=int(input('Enter number of test cases: '))
for x in range(0,n):
    a=int(input('Enter capacity of A vessel: '))
    b=int(input('Enter capacity of B vessel: '))
    c=int(input('Enter required litres of water: '))
    if a<c and b<c:
        result=-1
    else:
        if res(a,b,c)<res(b,a,c):
            result=res(a,b,c)
        else:
            result=res(b,a,c)
    print(result)

Enter number of test cases: 2
Enter capacity of A vessel: 5
Enter capacity of B vessel: 3
Enter required litres of water: 3
2
Enter capacity of A vessel: 2
Enter capacity of B vessel: 3
Enter required litres of water: 4
-1